**1.Data Loading**

In [196]:
import pandas as pd
import numpy as np

In [197]:
df_Apr = pd.read_csv('CRIME_REVIEW_FOR_THE_MONTH_OF_APRIL_2025.csv')
df_Feb = pd.read_csv('CRIME_REVIEW_FOR_THE_MONTH_OF_FEBRUARY_2025_0.csv')
df_Mar = pd.read_csv('CRIME_REVIEW_FOR_THE_MONTH_OF_MARCH_2025_0.csv')

In [198]:
df_Apr.head()

,Heads of Crime,Major Heads,Minor Heads,During the current year upto the end of month under review,During the corresponding month of previous year,During the previous month,During the current month,Month
0,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For gain,15,3,4,3,April
1,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Over Property Dispute,9,5,1,1,April
2,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Personal Vendetta or enemity,10,3,1,1,April
3,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Sexual jealousy,12,2,2,4,April
4,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For dowry by burning,1,0,0,0,April

In [200]:
df_Feb.head()

,SL.NO.,Heads of Crime,Major Heads,Minor Heads,During the current year upto the end of month under review,During the corresponding month of previous year,During the previous month,During the current month,Month
0,1,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For gain,7.0,2.0,4.0,3.0,February
1,2,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Over Property Dispute,6.0,6.0,2.0,4.0,February
2,3,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Personal Vendetta or enemity,7.0,1.0,2.0,5.0,February
3,4,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Sexual jealousy,6.0,1.0,2.0,4.0,February
4,5,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For dowry by burning,1.0,0.0,1.0,0.0,February

In [199]:
df_Mar.head()

,Sl.No.,Heads of Crime,Major Heads,Minor Heads,During the current year upto the end of month under review,During the corresponding month of previous year,During the previous month,During the current month,Month
0,1,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For gain,9,2,3,2,March
1,2,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Over Property Dispute,8,0,5,1,March
2,3,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Personal Vendetta or enemity,9,2,6,1,March
3,4,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Sexual jealousy,7,1,4,1,March
4,5,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For dowry by burning,1,0,0,0,March

In [201]:
df_Apr.isna().sum()

Heads of Crime                                                 0
Major Heads                                                    0
Minor Heads                                                   70
During the current year upto the end of month under review     0
During the corresponding month of previous year                0
During the previous month                                      0
During the current month                                       0
Month                                                          0
dtype: int64

In [202]:
df_Mar.isna().sum()

Sl.No.                                                         0
Heads of Crime                                                 0
Major Heads                                                    0
Minor Heads                                                   71
During the current year upto the end of month under review     0
During the corresponding month of previous year                0
During the previous month                                      0
During the current month                                       0
Month                                                          0
dtype: int64

In [203]:
df_Apr.isna().sum()

Heads of Crime                                                 0
Major Heads                                                    0
Minor Heads                                                   70
During the current year upto the end of month under review     0
During the corresponding month of previous year                0
During the previous month                                      0
During the current month                                       0
Month                                                          0
dtype: int64

In [204]:
df_Apr['Minor Heads'].fillna('Not Important',inplace =True)
df_Feb['Minor Heads'].fillna('Not Important',inplace =True)
df_Mar['Minor Heads'].fillna('Not Important',inplace =True)

C:\Users\hp\AppData\Local\Temp\ipykernel_11152\4013824296.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Apr['Minor Heads'].fillna('Not Important',inplace =True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11152\4013824296.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Feb['Minor Heads'].fillna('Not Important',inplace =True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11152\4013824296.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Mar['Minor Heads'].fillna('Not Important',inplace =True)

In [205]:
df_Mar.isna().sum()

Sl.No.                                                        0
Heads of Crime                                                0
Major Heads                                                   0
Minor Heads                                                   0
During the current year upto the end of month under review    0
During the corresponding month of previous year               0
During the previous month                                     0
During the current month                                      0
Month                                                         0
dtype: int64

In [206]:
df_Apr.isna().sum()

Heads of Crime                                                0
Major Heads                                                   0
Minor Heads                                                   0
During the current year upto the end of month under review    0
During the corresponding month of previous year               0
During the previous month                                     0
During the current month                                      0
Month                                                         0
dtype: int64

In [207]:
df_Feb['During the current year upto the end of month under review'].fillna(0,inplace=True)
df_Feb['During the corresponding month of previous year'].fillna(0,inplace=True)
df_Feb['During the current month'].fillna(0,inplace=True)
df_Feb['During the previous month'].fillna(0,inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_11152\46979688.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Feb['During the current year upto the end of month under review'].fillna(0,inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11152\46979688.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Feb['During the corresponding month of previous year'].fillna(0,inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11152\46979688.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Feb['During the current month'].fillna(0,inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11152\46979688.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Feb['During the previous month'].fillna(0,inplace=True)

In [156]:
df_Feb.isna().sum()

SL.NO.                                                        0
Heads of Crime                                                0
Major Heads                                                   0
Minor Heads                                                   0
During the current year upto the end of month under review    0
During the corresponding month of previous year               0
During the previous month                                     0
During the current month                                      0
Month                                                         0
dtype: int64

In [157]:
df_all = pd.concat([df_Feb, df_Mar, df_Apr], axis=0, ignore_index=True)

In [158]:
df_all.drop(columns=['SL.NO.','Sl.No.'],inplace=True)

In [159]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 8 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Heads of Crime                                              2190 non-null   object
 1   Major Heads                                                 2190 non-null   object
 2   Minor Heads                                                 2190 non-null   object
 3   During the current year upto the end of month under review  2190 non-null   float64
 4   During the corresponding month of previous year             2190 non-null   float64
 5   During the previous month                                   2190 non-null   float64
 6   During the current month                                    2190 non-null   float64
 7   Month                                                       2190 non-null   object
dtypes: float64(4), object(4)
memory usage: 137.0+ KB

In [160]:
df_all.Month.unique()

array(['February', 'March', 'April'], dtype=object)

In [181]:
import pandas as pd

# Suppose your list is stored in a column 'Major Heads'
# Clean by removing anything after first number or keyword like TO / IPC / BNS
df_all['Major Heads'] = (
    df_all['Major Heads']
    .str.extract(r'^([A-Z\s\/\-]+)', expand=False)  # Extract only leading capital words
    .str.strip()
    .str.title()  # Optional: title-case
)

In [182]:
df_all['Major Heads'].unique()

array(['M', 'Attempt To Murder',
       'Culpable Homicide Not Amounting To Muder',
       'Attempt To Culpable Homicide Not Amounting To Murder', 'Rape',
       'Kidnapping And Abduction', 'Dacoity', 'R', 'Burglary - Night To',
       'Burglary - Day To', 'Theft To', 'Riots To',
       'Offences Against State Ipc/', 'Offences Promoting Enemity',
       'Criminal Breach Of Trust', 'Cheating', 'Counterfeiting',
       'Forgery Ipc/', 'Cases Of Hurt To', 'Adulteration', 'Affray Bns',
       'Arson', 'Assault', 'Communal / Religion', 'Criminal Conspiracy',
       'Criminal Intimidation', 'Criminal Misappropriation',
       'Criminal Trespass To', 'Cruelty By Husband Ipc/',
       'Dowry Deaths Ipc/', 'Deaths Due To Rashness/Negligence Ipc/',
       'Motor Vehicle Accidents Fatal Ipc/',
       'Motor Vehicle Accidents Non-Fatal', 'Deaths-Miscarriage',
       'Defence Forces Offences Relating',
       'Escape From Lawful Custody And Resistance Ipc/', 'Impersonation',
       'Mischief To', 'Molestation', 'Poisoning-Professional',
       'Pornography', 'Public Justice', 'Public Nuisance',
       'Public Safety', 'Offences Against Public Servants',
       'Offences By Public Servants', 'Negligent Act',
       'Receiving Of Stolen Property To', 'Sedition',
       'Insulting Modesty Of Women', 'Suicide', 'Unnatural Sex',
       'Wrongful Restraint/Confinement', 'Infanticide',
       'Offences Related To Marriage', 'Buying', 'Documents',
       'Defamation-', 'Election', 'Slavery', 'A', 'Illegal Detention Bns',
       'False Evidence', 'Exposure And Abandonment Of Child', 'C',
       'Assault Or Use Of Criminal Force To Disrobe Women', 'D', 'G',
       'Antiques', 'Arms Act', 'Animal', 'Cinematography Act', 'Consumer',
       'Copy Right Act', 'Civil Rights',
       'Scheduled Caste And The Scheduled Tribes', 'Children Act',
       'Prevention Of Corruption Act', 'Customs', 'E', 'Foreign Exchange',
       'Foreigner', 'Forest', 'Hijacking', 'Immoral Traffic',
       'Bonded Labour System', 'Narcotic Drugs', 'Passport Act',
       'Representative Of People Act', 'Karnataka Police Act',
       'Prevention Of Damage To Public Property Act', 'Post',
       'Official Security Related Acts', 'Prevention Of Terrorism Act',
       'Unlawful Activities A', 'Crimes Related To Women',
       'Indian Lunacy Act', 'Indian Electricity Act', 'Cotpa',
       'Karnataka State Local Acts', 'Cyber Crime',
       'National Security Act', 'Pocso', 'O', 'K', 'I', 'P', 'F', nan,
       'W', 'L', 'S', 'T', 'Pocso A', 'J', 'Of Abetment',
       'Failure To Appear To Court', 'H', 'Indian Motor Vehicle',
       'Railways Act'], dtype=object)

In [183]:
df_all.columns

Index(['Heads of Crime', 'Major Heads', 'Minor Heads',
       'During the current year upto the end of month under review',
       'During the corresponding month of previous year',
       'During the previous month', 'During the current month', 'Month'],
      dtype='object')

In [184]:
df_heads = df_all.groupby('Heads of Crime')['During the current month'].sum()

In [185]:
df_heads.sort_values()

Heads of Crime
    E. CRIME AGAINST SCHEDULED CASTES /TRIBES BY NON SCs/STs \n      564.0
D.CRIME AGAINST CHILDREN                                            2979.0
C. CRIMES AGAINST WOMEN                                             4214.0
B - SPECIAL & LOCAL LAWS                                           15377.0
A - IPC Crime                                                      34428.0
Name: During the current month, dtype: float64

In [195]:
df_major.sort_values().tail()

Major Heads
Cyber Crime                          3432.0
Cases Of Hurt To                     4312.0
Karnataka Police Act                 4377.0
Theft To                             5244.0
Motor Vehicle Accidents Non-Fatal    8054.0
Name: During the current month, dtype: float64

In [188]:
df_overall = df_all.groupby(['Heads of Crime','Major Heads'])['During the current month'].sum()

In [189]:
df_overall = df_overall.reset_index()

In [193]:
# Sort by highest crime count
df_top = df_overall.sort_values(by='During the current month', ascending=False).head(10)