**1.Data Loading**

In [66]:
import pandas as pd
import numpy as np

In [67]:
df_Apr = pd.read_csv('CRIME_REVIEW_FOR_THE_MONTH_OF_APRIL_2025.csv')
df_Feb = pd.read_csv('CRIME_REVIEW_FOR_THE_MONTH_OF_FEBRUARY_2025_0.csv')
df_Mar = pd.read_csv('CRIME_REVIEW_FOR_THE_MONTH_OF_MARCH_2025_0.csv')

In [68]:
df_Apr.head()

,Heads of Crime,Major Heads,Minor Heads,During the current year upto the end of month under review,During the corresponding month of previous year,During the previous month,During the current month,Month
0,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For gain,15,3,4,3,April
1,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Over Property Dispute,9,5,1,1,April
2,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Personal Vendetta or enemity,10,3,1,1,April
3,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Sexual jealousy,12,2,2,4,April
4,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For dowry by burning,1,0,0,0,April

In [69]:
df_Feb.head()

,SL.NO.,Heads of Crime,Major Heads,Minor Heads,During the current year upto the end of month under review,During the corresponding month of previous year,During the previous month,During the current month,Month
0,1,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For gain,7.0,2.0,4.0,3.0,February
1,2,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Over Property Dispute,6.0,6.0,2.0,4.0,February
2,3,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Personal Vendetta or enemity,7.0,1.0,2.0,5.0,February
3,4,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Sexual jealousy,6.0,1.0,2.0,4.0,February
4,5,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For dowry by burning,1.0,0.0,1.0,0.0,February

In [70]:
df_Mar.head()

,Sl.No.,Heads of Crime,Major Heads,Minor Heads,During the current year upto the end of month under review,During the corresponding month of previous year,During the previous month,During the current month,Month
0,1,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For gain,9,2,3,2,March
1,2,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Over Property Dispute,8,0,5,1,March
2,3,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Personal Vendetta or enemity,9,2,6,1,March
3,4,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Sexual jealousy,7,1,4,1,March
4,5,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For dowry by burning,1,0,0,0,March

In [71]:
df_Apr.isna().sum()

Heads of Crime                                                 0
Major Heads                                                    0
Minor Heads                                                   70
During the current year upto the end of month under review     0
During the corresponding month of previous year                0
During the previous month                                      0
During the current month                                       0
Month                                                          0
dtype: int64

In [72]:
df_Mar.isna().sum()

Sl.No.                                                         0
Heads of Crime                                                 0
Major Heads                                                    0
Minor Heads                                                   71
During the current year upto the end of month under review     0
During the corresponding month of previous year                0
During the previous month                                      0
During the current month                                       0
Month                                                          0
dtype: int64

In [73]:
df_Apr.isna().sum()

Heads of Crime                                                 0
Major Heads                                                    0
Minor Heads                                                   70
During the current year upto the end of month under review     0
During the corresponding month of previous year                0
During the previous month                                      0
During the current month                                       0
Month                                                          0
dtype: int64

In [74]:
df_Apr['Minor Heads'].fillna('Not Important',inplace =True)
df_Feb['Minor Heads'].fillna('Not Important',inplace =True)
df_Mar['Minor Heads'].fillna('Not Important',inplace =True)

C:\Users\hp\AppData\Local\Temp\ipykernel_15948\4013824296.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Apr['Minor Heads'].fillna('Not Important',inplace =True)
C:\Users\hp\AppData\Local\Temp\ipykernel_15948\4013824296.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Feb['Minor Heads'].fillna('Not Important',inplace =True)
C:\Users\hp\AppData\Local\Temp\ipykernel_15948\4013824296.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Mar['Minor Heads'].fillna('Not Important',inplace =True)

In [75]:
df_Mar.isna().sum()

Sl.No.                                                        0
Heads of Crime                                                0
Major Heads                                                   0
Minor Heads                                                   0
During the current year upto the end of month under review    0
During the corresponding month of previous year               0
During the previous month                                     0
During the current month                                      0
Month                                                         0
dtype: int64

In [76]:
df_Apr.isna().sum()

Heads of Crime                                                0
Major Heads                                                   0
Minor Heads                                                   0
During the current year upto the end of month under review    0
During the corresponding month of previous year               0
During the previous month                                     0
During the current month                                      0
Month                                                         0
dtype: int64

In [77]:
df_Feb['During the current year upto the end of month under review'].fillna(0,inplace=True)
df_Feb['During the corresponding month of previous year'].fillna(0,inplace=True)
df_Feb['During the current month'].fillna(0,inplace=True)
df_Feb['During the previous month'].fillna(0,inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_15948\46979688.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Feb['During the current year upto the end of month under review'].fillna(0,inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_15948\46979688.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Feb['During the corresponding month of previous year'].fillna(0,inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_15948\46979688.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Feb['During the current month'].fillna(0,inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_15948\46979688.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Feb['During the previous month'].fillna(0,inplace=True)

In [79]:
df_Feb.isna().sum()

SL.NO.                                                        0
Heads of Crime                                                0
Major Heads                                                   0
Minor Heads                                                   0
During the current year upto the end of month under review    0
During the corresponding month of previous year               0
During the previous month                                     0
During the current month                                      0
Month                                                         0
dtype: int64

In [81]:
df_all = pd.concat([df_Feb,df_Mar,df_Apr],ignore_index=True)

In [82]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 10 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   SL.NO.                                                      731 non-null    float64
 1   Heads of Crime                                              2190 non-null   object
 2   Major Heads                                                 2190 non-null   object
 3   Minor Heads                                                 2190 non-null   object
 4   During the current year upto the end of month under review  2190 non-null   float64
 5   During the corresponding month of previous year             2190 non-null   float64
 6   During the previous month                                   2190 non-null   float64
 7   During the current month                                    2190 non-null   float64
 8   Month                                                       2190 non-null   object
 9   Sl.No.                                                      730 non-null    float64
dtypes: float64(6), object(4)
memory usage: 171.2+ KB

In [83]:
df_all.drop(columns=['SL.NO.','Sl.No.'],inplace=True)

In [102]:
df_all.to_csv("crime_data.csv")

In [101]:
df_all

,Heads of Crime,Major Heads,Minor Heads,During the current year upto the end of month under review,During the corresponding month of previous year,During the previous month,During the current month,Month
0,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For gain,7.0,2.0,4.0,3.0,February
1,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Over Property Dispute,6.0,6.0,2.0,4.0,February
2,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Personal Vendetta or enemity,7.0,1.0,2.0,5.0,February
3,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",Due to Sexual jealousy,6.0,1.0,2.0,4.0,February
4,A - IPC Crime,"Murder (Sec.302/303 IPC/103,104 BNS)",For dowry by burning,1.0,0.0,1.0,0.0,February
...,...,...,...,...,...,...,...,...
2185,E. CRIME AGAINST SCHEDULED CASTES /TRIBES ...,Murder,Not Important,28.0,12.0,6.0,4.0,April
2186,E. CRIME AGAINST SCHEDULED CASTES /TRIBES ...,Rape,Not Important,51.0,12.0,16.0,15.0,April
2187,E. CRIME AGAINST SCHEDULED CASTES /TRIBES ...,Kidnapping,Not Important,51.0,10.0,19.0,4.0,April
2188,E. CRIME AGAINST SCHEDULED CASTES /TRIBES ...,Offences under the Protection of Civil Rights ...,Not Important,0.0,0.0,0.0,0.0,April
2189,E. CRIME AGAINST SCHEDULED CASTES /TRIBES ...,Offences under the SC & ST (prevention of Atr...,Not Important,616.0,157.0,161.0,163.0,April

In [89]:
df_g = df_all.groupby(['Heads of Crime','Major Heads'])['During the current month'].sum()

In [93]:
df_g.values

array([3.000e+01, 1.400e+01, 0.000e+00, 4.810e+02, 3.900e+01, 7.000e+00,
       1.550e+02, 6.500e+01, 4.000e+00, 0.000e+00, 1.600e+01, 8.760e+02,
       6.600e+01, 2.450e+02, 9.140e+02, 0.000e+00, 4.312e+03, 1.433e+03,
       7.000e+01, 4.000e+00, 1.700e+02, 7.000e+00, 7.350e+02, 3.000e+00,
       6.510e+02, 7.200e+02, 3.500e+01, 1.700e+01, 4.800e+01, 7.400e+01,
       7.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 3.400e+01, 9.000e+00,
       1.000e+00, 8.000e+00, 1.090e+02, 1.550e+02, 1.000e+00, 1.490e+02,
       4.000e+00, 3.000e+00, 1.000e+00, 6.000e+00, 1.000e+00, 1.280e+02,
       1.285e+03, 1.190e+02, 1.472e+03, 2.729e+03, 8.054e+03, 3.220e+02,
       1.072e+03, 3.000e+00, 3.180e+02, 0.000e+00, 0.000e+00, 3.600e+01,
       1.000e+01, 4.000e+00, 3.000e+00, 1.000e+00, 5.500e+01, 7.710e+02,
       2.520e+02, 0.000e+00, 8.610e+02, 2.560e+02, 0.000e+00, 1.000e+00,
       2.030e+02, 5.244e+03, 0.000e+00, 1.130e+02, 8.200e+01, 1.000e+00,
       3.000e+00, 4.000e+01, 2.000e+00, 3.200e+01, 2.000e+00, 8.000e+00,
       3.000e+00, 1.100e+01, 1.000e+00, 7.000e+00, 1.060e+02, 0.000e+00,
       0.000e+00, 3.000e+00, 1.730e+02, 3.700e+01, 1.800e+01, 3.840e+02,
       4.060e+02, 0.000e+00, 3.432e+03, 2.300e+01, 0.000e+00, 1.400e+01,
       1.000e+00, 0.000e+00, 6.400e+01, 5.000e+00, 0.000e+00, 3.100e+01,
       1.599e+03, 2.112e+03, 7.800e+01, 4.120e+02, 1.760e+02, 3.241e+03,
       1.365e+03, 0.000e+00, 0.000e+00, 2.000e+00, 9.050e+02, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 3.300e+01, 0.000e+00, 1.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 5.640e+02, 0.000e+00, 4.600e+01, 0.000e+00,
       9.000e+00, 2.630e+02, 7.200e+02, 1.052e+03, 1.000e+00, 3.300e+01,
       6.400e+01, 0.000e+00, 1.280e+02, 2.700e+01, 0.000e+00, 4.000e+00,
       9.700e+01, 3.800e+01, 7.000e+00, 1.472e+03, 1.000e+00, 2.520e+02,
       1.000e+01, 7.000e+00, 1.700e+01, 1.000e+00, 1.000e+00, 5.100e+01,
       1.185e+03, 1.000e+00, 9.050e+02, 0.000e+00, 8.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 7.470e+02, 4.500e+01, 0.000e+00,
       0.000e+00, 1.000e+00])

In [100]:
df_g.index[0:].unique()

MultiIndex([('    E. CRIME AGAINST SCHEDULED CASTES /TRIBES BY NON SCs/STs \n', ...),
            ('    E. CRIME AGAINST SCHEDULED CASTES /TRIBES BY NON SCs/STs \n', ...),
            ('    E. CRIME AGAINST SCHEDULED CASTES /TRIBES BY NON SCs/STs \n', ...),
            ('    E. CRIME AGAINST SCHEDULED CASTES /TRIBES BY NON SCs/STs \n', ...),
            ('    E. CRIME AGAINST SCHEDULED CASTES /TRIBES BY NON SCs/STs \n', ...),
            (                                                  'A - IPC Crime', ...),
            (                                                  'A - IPC Crime', ...),
            (                                                  'A - IPC Crime', ...),
            (                                                  'A - IPC Crime', ...),
            (                                                  'A - IPC Crime', ...),
            ...
            (                                       'D.CRIME AGAINST CHILDREN', ...),
            (                                       'D.CRIME AGAINST CHILDREN', ...),
            (                                       'D.CRIME AGAINST CHILDREN', ...),
            (                                       'D.CRIME AGAINST CHILDREN', ...),
            (                                       'D.CRIME AGAINST CHILDREN', ...),
            (                                       'D.CRIME AGAINST CHILDREN', ...),
            (                                       'D.CRIME AGAINST CHILDREN', ...),
            (                                       'D.CRIME AGAINST CHILDREN', ...),
            (                                       'D.CRIME AGAINST CHILDREN', ...),
            (                                       'D.CRIME AGAINST CHILDREN', ...)],
           names=['Heads of Crime', 'Major Heads'], length=176)